{% extends 'base.html.twig' %}

{% block title %}Hello VipController!{% endblock %}

{% block body %}
<hgroup>
    <h1>Les codes promo</h1>
    <h3>Espace VIP</h3>
</hgroup>

<article>
    <h2>promo.com <mark>50%</mark></h2>
    <kbd>#54854FDS54484FSD</kbd>
</article>

<article>
    <h2>reduc.fr <mark>50%</mark></h2>
    <kbd>#5SDFSD5F4548SD4F</kbd>
</article>
{% endblock %}
